.App {
  position: relative;
  width: 400px;
  height: 600px;
  border-radius: 9px;
  font-size: 0.75em;
  box-shadow: 0 27px 20px 5px rgba(0, 0, 0, 0.03);
}
.App__header {
  color: rgba(0, 0, 0, 0.15);
  font-size: 1rem;
}
.App--loading {
  overflow: hidden;
  position: relative;
}
.App__update {
  margin: 1rem 0;
  text-align: center;
}
.App__update > button {
  background: black;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.App--loading:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0)
  );
  animation: loading 1.5s infinite;
}
.User__img {
  height: 380px;
  position: relative;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  background: #ffd2fe;
}
.User__img > img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
.User__info {
  background: #fff;
  height: 220px;
  padding: 2rem;
  border-radius: 9px;
}

.User__info__divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 2rem 0 0 0;
  padding: 1rem 0 0 0;
}
.User__info__details {
  display: flex;
  justify-content: space-between;
}

.faint {
  color: rgba(0, 0, 0, 0.47);
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
